

.my-bag-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: space-between; /* Space between title and button */
    width: 100%;
    height: 100px;

}
.my-bag-container h1 {
    font-size: 28px;
    font-family: "Super Grotesk Offc Medium", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    letter-spacing: .06em;
}


.btn.btn-primary.btn-lg {
    background-color: #212529 !important;
    height: 50px;
    margin-left: auto;

}
.my-bag-products {
    padding-top: 20px;
}


.table-body-product {
    display: flex;
    
}

.table-body-product h1 {
    font-size: 20px; 
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start of the container */
    
}
.table-body-product-text{
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start of the container */
}

.table-total {
    font-size: 20px; 
    text-align: right;
}
.table-body-price {
    text-align: center;
    vertical-align: middle; /* Centers content vertically within the cell */

}

.table-total p {
    padding-right: 20px;
}

.table-body-edit {
    flex-direction: column;
    align-items: center; /* Aligns children (quantity-selector and edit-buttons) in the center */
    justify-content: center; /* Centers children vertically within the cell */
}
.quantity-selector {
    padding-top: 20px;
}
.decrease-quantity {
    margin-right: 3px;
    background-color: #212529 !important;
    color: white;
}
.increase-quantity {
    margin-left: 3px;
    color: white;
    background-color: #212529 !important;
}


.quantity-selector,
.edit-buttons {
    width: 100%;
    display: flex;
    justify-content: center; /* Center these divs horizontally */
    margin-bottom: 10px; /* Add space between the quantity-selector and edit-buttons */
}

.edit-buttons button {
    /* Your specific styles for buttons, ensure they have some margin if side by side */
    margin: 0 5px;
}

.ZipCityDiv {
    display: flex;
    margin-bottom: 10px;

}
.address{ 
    display: flex;
    margin-bottom: 10px;
}
.person{ 
    display: flex;
    margin-bottom: 10px;
}
.bi-person {
    padding-right: 10px;
    font-size: 1.5rem;
    background-color: white;

}
.bi-geo-alt {
    padding-right: 10px;
    font-size: 1.5rem;
}
.bi-map {
    padding-right: 10px;
    font-size: 1.5rem;
}

.city  {
    width: 70%;
}

.zip  {
    width: 30%;
    border: none !important;
}

.country {
    margin-left: 10% !important;
    width: 90% !important;
}
.form-control, .form-select {
    border: none !important; 
    border-bottom: 1px solid #ced4da !important; 
    box-shadow: none !important; 
}

.addressControl {
   background-color: white;
}


.modal-header {
    background-color: #F0F0F0
}