.second-card-group .second-menu-card {
    height: 20rem; /* Example height, adjust as needed */
    margin-top: 0px;
    overflow: hidden;
  }
  
  .second-card-group .second-menu-card img {
    width: 100%;
    height: auto;
    object-fit: cover; 
  }
 