/* This is for the offcanvas body to manage the overall scroll */
.offcanvas-body {
    overflow-y: hidden; /* Shows scrollbar only if content exceeds height */
  }
  .offcanvas.offcanvas-end {
    width: 330px !important;
  }
  
  .offcanvas-body-item {
    display: flex; /* Enable flex layout for the container */
    align-items: center; /* Vertically aligns items in the container */
    border-bottom: 1px solid #ccc; /* Example border style */
    padding: 8px; /* Add some padding */
    height: 150px; /* Set height for each item */
  }

  /* Styling for the image in the card */
  .myImage {
    width: 100px; /* Fixed width for the image */
    height: 100px; /* Fixed height for the image, adjust as needed */
    margin-right: 1rem; /* Adds space between the image and the text */
  }
  
  .content h1 {
    font-size: 20px;
    padding-top: 0px;
  }