.items-container {
    overflow-y: auto; /* Enables scrolling */
    max-height: calc(100% - 100px); /* Adjust the max height to leave space for the total amount section */
  }
  
  .offcanvas-body {
    display: flex;
    flex-direction: column; 
  }
  
  .offcanvas.offcanvas-end {
    width: 330px !important;
  }
  
  .offcanvas-body-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    height: 150px;
  }
  
  .myImage {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
    aspect-ratio: 4 / 3; /* Adjust as needed */
    object-fit: cover; /* Cover the area of the container without stretching */
  }
  
  .content h1 {
    font-size: 15px;
    padding-top: 0px;
  }
  
  .total-amount {
    position: sticky; /* Changed from fixed to sticky */
    bottom: 0;
    width: 330px; 
    border-top: 1px solid #ccc;
    align-items: center; /* Center children horizontally */
    text-align: center; /* Center text for each child */
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 8px;
  }

  .total-amount-button.btn.btn-primary.btn-lg {
    background-color: #212529 !important;

}

.btn-close.btn {
  margin: auto;
  margin-right: 0px;
}