.profile-page-container {
    display: flex;
    padding-left: 100px;
    padding-top: 30px;
    min-height: 53vh;
}

.profile-sidebar {
    width: 30%;
}

.accordion-rightside {
    width: 50%;
}

.accordion-body {
    padding: 0px !important;
}

.table-body-profile {
    margin-bottom: 0px !important;
}

.profile-sidebar .nav-link.active {
    color: blue; /* Or any other color you want for the active state */
    font-weight: bold; /* Make it stand out */
    padding-bottom: 2px; /* Adjust space between text and underline */
    border-bottom: 1px solid blue; /* Simulate underline */
    display: inline-block;
    
}


.table-body-profile-price {
    width: 20%;
}

.list-group-item {
    border: none !important;
}

.list-group-item.disabled {
    font-size: larger !important;
    margin-left: -30px !important;
}
.accordion-header p{
    text-align: center;
    font-weight: 700;
    padding-right: 50px;

}
.latest-order .header {
    justify-content: center;
    text-align: center;
}

.latest-order .footer {
    text-align: left;
}

.latest-order .footer p {
    margin: 0px;
}


.latest-order .footer h6{
    font-weight: 1000;
}

.latest-order .header h6{
    font-weight: 1000;
}

.form-group-row {
    display: flex;
    align-items: center; 
    justify-content: start; 
    gap: 10px; 
}

.form-group-row .form-label {
    font-weight: 700;
    margin-bottom: 0; /* Removes the bottom margin from the label */

    text-align: right; /* Align the text to the right */

}

.wide-input {
    width: 300px !important;
}


.form-group-row .form-control {
    
    flex-grow: 1;
    padding-left: 10px !important;
}

@media (max-width: 930px) {
    .profile-page-container {
        padding-left: 0; 
    }
    
    .list-group-item.disabled {
        margin-left: 0 !important; 
    }
}


