.profile-page-container {
    display: flex;
    padding-left: 100px;
    padding-top: 30px;
}

.profile-sidebar {
    width: 30%;
}
.accordion-rightside {
    width: 70%;;
}

.accordion-body {
    padding: 0px !important;
}
.table-body-profile {
    margin-bottom: 0px !important;
}
.table-body-profile-price {
    width: 20%;
}
.list-group-item {
    border: none !important;
}
