.profile-page-container {
    display: flex;
    padding-left: 100px;
    padding-top: 30px;
}

.profile-sidebar {
    width: 30%;
}

.accordion-rightside {
    width: 50%;
}

.accordion-body {
    padding: 0px !important;
}

.table-body-profile {
    margin-bottom: 0px !important;
}

.profile-sidebar .nav-link.active {
    color: blue; /* Or any other color you want for the active state */
    font-weight: bold; /* Make it stand out */
    padding-bottom: 2px; /* Adjust space between text and underline */
    border-bottom: 1px solid blue; /* Simulate underline */
    
}


.table-body-profile-price {
    width: 20%;
}

.list-group-item {
    border: none !important;
}

.list-group-item.disabled {
    font-size: larger !important;
    margin-left: -30px !important;
}
.accordion-header p{
    text-align: center;
    font-weight: 700;
    padding-right: 50px;

}

@media (max-width: 930px) {
    .profile-page-container {
        padding-left: 0; 
    }
    
    .list-group-item.disabled {
        margin-left: 0 !important; 
    }
}


.profile-sidebar #basic-navbar-nav .nav-link.active {
    color: blue; /* Or any other color you want for the active state */
    font-weight: bold; /* Make it stand out */
    padding-bottom: 2px; /* Adjust space between text and underline */
    border-bottom: 1px solid blue; /* Simulate underline */
    text-decoration: none; /* Remove default underline */
  }
