/* styles.css */
.custom-navbar {
  background-color: var(--bg-body-tertiary);
  }
  .custom-navbar .navbar-brand {
    color: red;
  }
  .Logo.navbar-brand {
    padding: 0px;
  }

  .headerComponent #basic-navbar-nav .nav-link.active {
    color: blue; /* Or any other color you want for the active state */
    font-weight: bold; /* Make it stand out */
    padding-bottom: 2px; /* Adjust space between text and underline */
    border-bottom: 1px solid blue; /* Simulate underline */
    text-decoration: none; /* Remove default underline */
  }



  .shopping-cart-icon {
    position: relative;
    display: inline-block;
  }
  
  .cart-count {
    position: absolute;
    top: 14px; /* Adjust as needed */
    right: 9px; /* Adjust as needed */
    color: black;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }