.signup-container {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  min-height: 86vh; 
  padding: 5px 0;
}
.custom-input-size {
  height: 30px; /* Smaller height */
  font-size: 14px; /* Smaller font size */
  width: 350px; /* Fixed width */
}

.form-container {
  width: 100%; 
  max-width: 500px; /* Maximum width of the form */
  padding: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
}

.white-text {
  text-align: center;
}


.ItemsToNavigate {
  margin-bottom: 10px;
}

.itemstoNavigateButton {
  background-color: transparent;
  border: none;
  color: #A9A9A9; /* Default color to grey */
  padding: 0;
  margin-right: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  box-shadow: none;
  outline: none;
  transition: color 0.3s; /* Smooth transition for color change */
}

/* Active state styles */
.itemstoNavigateButton.active-nav-item {
  color: blue; /* Or any other color you want for the active state */
  font-weight: bold; /* Make it stand out */
  padding-bottom: 2px; /* Adjust space between text and underline */
  border-bottom: 1px solid blue; /* Simulate underline */
  text-decoration: none;
}

.itemstoNavigateButton:hover {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-weight: 700;
  text-decoration: underline;
}

.ButtonDiv{
  margin-top: 50px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.singInButton {
  background-color: black !important;
  border-color: black !important;
  padding: 5px 25px 5px 25px !important;
}

.singInButton:hover {
  background-color: #424649 !important;
  border-color: #424649!important;
}

.MyForm {
  margin-bottom: 1.3rem !important;
}


.wrongCredentials {
  background-color: white;
  height: 70px;
  margin-bottom: 15px;
  text-align: center;
  width: 80%;
  margin-left: auto; 
  margin-right: auto; 
  border: 1px solid #dd3c10;
  background-color: #ffebe8;
}
.wrongCredentials p {
  font-weight: 800;
}

@media (max-width: 600px) {
  .wrongCredentials {
    height: 100px; 
  }
}