.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    padding: 50px 0; 
  }
  
  .custom-input-size {
    height: 30px; /* Smaller height */
    font-size: 14px; /* Smaller font size */
    width: 350px; /* Fixed width */
  }
  
  .form-container {
    width: 100%; 
    max-width: 500px; /* Maximum width of the form */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
  }
  